@charset "utf-8";
/*배경이미지*/
body{
    background-image: url("../images/2.JPG");
    background-repeat: no-repeat;
    background-size:cover;
 
}
/*to do list*/
.todo>span:nth-child(1){
    color: red;
}
.todo>span:nth-child(2){
    color : yellow;
}
/* 시간표시부 */
#view-clock{
    position: absolute;
    left:35%;
    font-size: 4rem;
    color:rgb(53, 17, 14);
}
/*사용자 표시부*/
input{
    width:300px;
    height:50px;
    background-color: rgba(53, 17, 14,0.7);
    text-align: center;
    position: absolute;
    border-style: none;
    top:350px;
    left:45%;

}

.printSpan{
    font-family: 'Noto Serif KR', serif;
    font-size: 4rem;
    font-weight:bolder;
    position: absolute;
    color:rgb(53, 17, 14);
    top:350px;
    left:45%;
}

/*지역, 온도 표시부*/
.weather_text{
    font-family: 'Noto Serif KR', serif;
    color:white;
    background-color:rgba(53, 17, 14,0.7);
    border-radius: 5px;
    position: absolute;
    right: 20px;
    font-size: 30px;
}
