@charset "utf-8";
body{font-family: 'Do Hyeon', sans-serif;}
/*Header 관련*/
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo{
    font-family: 'Faster One', cursive;
    /* display: flex; */
    /* justify-content: space-between; */
    /*햄버거메뉴*/
    position: relative;  
    margin-top: 5px;
    padding: 10px; 
}
.logo>a{
    font-size:30px;
    color:rgb(157,178,163);
}
.logo>a>span {color:rgb(40,224,70);}

    /*햄버거 엑스 버튼*/

/* //햄버거메뉴 엑스// */
input{
    display:none;
}

label[for="m"]{
    display:block;
    width:50px;
    height:40px;
    position: relative;
  
}

label[for="m"] span{
    width:100%;
    height:8px;
    background-color:rgb(157,178,163);
    position: absolute;
    transition:1s;
        
}
label[for="m"] span:nth-child(1){
    top:0; 
}
label[for="m"] span:nth-child(2){
    top:50%;
}
label[for="m"] span:nth-child(3){
    top:100%;
}
input[id="m"]:checked + label[for="m"] span:nth-child(1){
    background-color: rgb(78, 81, 255);
    top:50%;
    transform: rotate(45deg);
}
input[id="m"]:checked + label[for="m"] span:nth-child(3){
    background-color: rgb(78, 81, 255);
    top:50%;
    transform: rotate(-45deg);
}
input[id="m"]:checked + label[for="m"] span:nth-child(2){
    background-color:transparent;
    }
input[id="m"]:checked ~ .menu{
    display: block;
}

.menu{
    display:none;
    letter-spacing: 10px;
    line-height: 50px;
    position: absolute;
    left:0;
    top:55px;
    text-align: center;
    background-color: white;
    width: 100%;

}
.menu a{    
    color:rgb(157,178,163);
    padding:15px;
    padding-bottom: 0;
     font-weight: bolder; 
    /*메뉴글씨에 밑줄효과*/
    position: relative;    
}
.header ul>li>a:hover{
    color:rgb(78, 81, 255);
}
.header ul>li>a::before{
    content: "";
    background-color: rgb(40,224,70);
    display: inline-block;

    height:4px;
    width:0px;
   
    position: absolute;

    bottom:-10px;
    transition: all 0.3s;

    left:50%;
    transform: translateX(-50%);
}
.header ul>li>a:hover::before{
    padding-top:0;
    margin-top:0;
    width:100%;
    
}

/*배너관련*/
.banner{
    background-image: linear-gradient(rgba(148, 209, 158, 0.342),rgba(87, 187, 127, 0.342)), url('../images/mainbanner.jpg');
    background-position:center;
    background-size: cover;

    height:150px;
    width: 100%;
    
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}

.sub_title{
    color: rgb(40,224,70);
    font-size:50px;
    margin:50px auto 0px auto;
    padding-top:30px;
    text-align: center;

    width: 100%;
}

.contact>p{
    margin:10px auto;
    text-align: center;
    color:rgb(66,94,72);
}
.contact>.text{
    /*모바일에선 글씨 안보이게*/
    display: none;
    margin:50px auto;
    text-align: center;
    color:rgb(66,94,72);
    line-height:25px;
    letter-spacing: 1px;

}
.contact>ul{
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    justify-content: center;

 
}
/*컨텍트 요소 만들기, html에 icon 클래스 주고나서*/
.contact .icon{
    /* background-color:rgb(203,228,199);
    color:white; */

    font-size:45px;
    border-radius: 64.3px 10.87px 75.49px 29.7px;

     width:100px;
     height:70px;
     text-align: center;
     padding-top: 25px;
     
     margin-right:20px;

     position: relative;

}

.contact>ul>li>a{    
display: inline-block;
width:100px;
/* height:100px; */

text-align: center;
/* line-height:100px; */
border-radius: 64.3px 10.87px 75.49px 29.7px;
font-size: 45px;

position: relative;
overflow: hidden;

background-color:rgb(203,228,199);
color:white;
/* color:#f3d217; */

}


.contact>ul>li>a:before{
    content: "";
    background-color:rgb(141, 245, 167);
  

    font-size:40px;
    border-radius: 64.3px 10.87px 75.49px 29.7px;

     width:0;
     height:70px;
     text-align:center;
     padding-top: 25px;


     margin-right:20px;

     position: absolute;
     top: 0;
     left: 0;

     transition: 0.5s;
    
}



.contact>ul>li>a:hover:before{
   width:100%;
    height:100%;
  
 
}

.contact>ul>li>a:hover .fab{
    transform:rotateY(360deg);
    color: rgb(78, 81, 255);
   
}
.contact>ul>li>a:hover .fas{
    transform:rotateY(360deg);
    color:rgb(247, 231, 56);

}
.contact>ul>li>a .fab,.fas{
    position:relative;
    transition: 1s;            
}

   
/*지도 크기, 위치 설정*/
.map{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
    margin-top: 50px;
}



.footer{
    width:100%;
    font-size:25px;
    background-color:rgb(215,215,215);
    color:rgb(157,178,163);
    text-align: center;
    margin-top:10%;
}






/* 테블릿 사이즈*/

@media all and (min-width:768px) 
{
    .header {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    
    .logo{
        font-family: 'Faster One', cursive;
        display: flex;
        justify-content: space-between;
    }
    .logo>a{
        font-size:30px;
        color:rgb(157,178,163);
    }
    .logo>a>span {color:rgb(40,224,70);}

 /*태블릿 사이즈에선 버튼이 안보이게*/
 label[for="m"] {
    display:none;
}
 input{
        display:none;
    }
    
    .menu{
            margin-top: 0px;
            display: flex;
            justify-content:flex-end;
            letter-spacing: 10px;
            line-height: 50px;
        }

    /* */
   .info{
    /* width: 70%;
    margin: 50px auto; */

    width:300px;
    margin: 50px auto;
    overflow: hidden;
}
    .info>ul{
        display: flex;
        flex-direction: row;
        justify-content:space-between;
    
    }
  

/* PC용 사이즈*/
@media all and (min-width:1024px) 
{
     /*PC 사이즈에서 버튼이 안보이게*/
 label[for="m"] {
    display:none;
    }

    .header{
        width: 1024px;
        margin: 0 auto;
        display:flex;
        justify-content: space-between;
        font-size:30px;
     
    }
  
    .logo>a{
        font-size:55px;
        color:rgb(157,178,163);
    
      
    }

    .menu{
        margin: 25px auto;
        width: 100%;
        line-height: 50px;
  
    }
    .banner{
        height: 300px;
    }



.sub_title{
    color: rgb(40,224,70);
    font-size:90px;
    margin:90px auto 0px auto;
    padding-top:90px;
    text-align: center;

    width: 100%;
}

.contact>.text{
    /*PC에선 보이게*/
    display: block;
    font-size: 30px;
    margin:50px auto;
    text-align: center;
    color:rgb(66,94,72);
    line-height:50px;
    letter-spacing: 1px;

    }
    .footer{
        width:100%;
        height:10vh;
        font-size:25px;
        background-color:rgb(215,215,215);
        color:rgb(157,178,163);
        text-align: center;
        margin-top:10%;
    }
}