@charset "utf-8";
body{font-family: 'Do Hyeon', sans-serif;}
/*Header 관련*/
header {
    width: 100%;
    
}
.logo{
    font-family: 'Faster One', cursive;
    display: flex;
    justify-content: space-between;
}
.logo>a{
    font-size:30px;
    color:rgb(157,178,163);
}
.logo>a>span {color:rgb(40,224,70);}
.logo>button{
    border: none;
    background:none;
    opacity:0.5;
    cursor:pointer;
    font-size:30px;
    color:rgb(157,178,163);
    
}
.menu a{
    display: block;
    color:rgb(157,178,163);
    padding:15px;
    font-weight: bolder; 
}
.menu{
    display:none;
    letter-spacing: 1px;

}
/*배너관련*/
.banner{
    background-image: linear-gradient(rgba(148, 209, 158, 0.342),rgba(87, 187, 127, 0.342)), url('../images/mainbanner.jpg');
    background-position:center;
    background-size: cover;

    height:80vh;
    width: 100%;
    
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}

.banner h1{
    color:white;
    font-size:3.5em;
    font-style: bold;
    letter-spacing:0.2em;
    margin-bottom:15px;
    text-shadow: 30px, 70px, 10px, black;
}
.banner p{
    color:white;
    font-size: 1em;
    opacity:0.6;
    text-shadow:20px,70px,5px, black;
    letter-spacing: 0.4em;

}
.sub_title{
    color: rgb(40,224,70);
    font-size:50px;
    margin:50px auto 0px auto;
    padding-top:30px;
    text-align: center;

    width: 100%;
}
/*info H,P,B 소개글*/
.info{
    width: 70%;
    margin: 50px auto;
}
.info>ul{
    display: flex;
    flex-direction: column;

}
/* .info>ul>li{
    /* width:500px; }*/


.info>ul>li>div{    
        background-color:rgb(203,228,199);
        color:rgb(40,224,70);
    
        font-size:60px;
        border-radius: 64.3px 10.87px 75.49px 29.7px;
    
         width:2em;
         height:2em;
         text-align:center;
         line-height:2em;
         margin: 10px auto;
    
         /* margin-right: 230px;
         margin-left: 200px; */
}
.info>ul>li>h3{
    font-size:30px;
    color:rgb(40,224,70);
    text-align: center;
}
.info>ul>li>p{
    width: 80%;
    margin: 30px auto;
    color:rgb(66,94,72);
    line-height:25px;
    letter-spacing: 1px;
}

/*Portfolio*/
.Portfolio{
    width:100%;
    background-color: rgb(215,215,215);
}
.Portfolio>p{
    margin:10px auto;
    text-align: center;
    color:rgb(66,94,72);
    
}
.Portfolio>div{
    /* width:700px;
    margin:30px auto;
    display: flex; */
    /* box-sizing: border-box;
    padding:10px;
    max-width:700px;
    margin : 0 auto;
    height: 470px;
    display: flex;
    flex-flow:column wrap;
    align-items:flex-start; */
    width: 70%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 50px auto;
    align-items: flex-start;
    
}
.Portfolio>div>.item{
    width:90%;
    margin:1%;
    padding-bottom:10px;
}
.contact>p{
    margin:10px auto;
    text-align: center;
    color:rgb(66,94,72);
}
.contact>.text{
    margin:50px auto;
    text-align: center;
    color:rgb(66,94,72);
    line-height:25px;
    letter-spacing: 1px;

}
.contact>ul{
    display: flex;
    margin-top: 40px;
    justify-content: center;
}
/*컨텍트 요소 만들기, html에 icon 클래스 주고나서*/
.contact .icon{
    background-color:rgb(203,228,199);
    color:white;

    font-size:40px;
    border-radius: 64.3px 10.87px 75.49px 29.7px;

     width:2em;
     height:2em;
     text-align:center;
     line-height:2em;

     margin-right:20px;
}
.footer{
    height:10%;
    width:100%;
    font-size:20px;
    background-color:rgb(157,178,163);
    color:white;
    text-align: center;
    margin-top:10%;
}


/* 테블릿 사이즈*/
@media all and (min-width:768px) 
{
    .header{
        display:flex;
        justify-content: space-between;
      
    }

    .logo>button{
        display: none;
    }
    .menu{
        display:block;
    }
    .menu>ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;       
    }
    .banner h1{
        color:white;
        font-size:6em;
        font-style: bold;
        letter-spacing:0.2em;
        margin-bottom:15px;
        text-shadow: 30px, 70px, 10px, black;
    }
    .banner p{
        color:white;
        font-size: 1.7em;
        opacity:0.6;
        text-shadow:20px,70px,5px, black;
        letter-spacing: 0.4em;
    
    }
    .info>ul{
        display: flex;
        flex-direction: row;
        justify-content:space-between;
    
    }
    .Portfolio{
        width:100%;
        background-color: rgb(215,215,215);
    }
    .Portfolio>p{
        margin:10px auto;
        text-align: center;
        color:rgb(66,94,72);
        
    }
    .Portfolio>div{
        /* width:700px;
        margin:30px auto;
        display: flex; */
        /* box-sizing: border-box;
        padding:10px;
        max-width:700px;
        margin : 0 auto;
        height: 470px;
        display: flex;
        flex-flow:column wrap;
        align-items:flex-start; */
        width: 90%;
        display: flex;
       
        margin: 0px auto;
        align-items: flex-start;
        
    }
    .Portfolio>div>.item{
        width:30%;
        /* margin:1%; */
        padding-bottom:10px;
}




/* PC용 사이즈*/
@media all and (min-width:1024px) 
{
    .header{
        width: 1024px;
        margin: 0 auto;
        display:flex;
        justify-content: space-between;
        font-size:2em;
    }
    .logo>a{
        font-size:55px;
        color:rgb(157,178,163);
    }
    .banner{
        background-image: linear-gradient(rgba(148, 209, 158, 0.342),rgba(87, 187, 127, 0.342)), url('../images/mainbanner.jpg');
        background-position:center;
        background-size: cover;
    
        height:93vh;
        width: 100%;
        
        display: flex;
        flex-direction:column;
        justify-content:center;
        align-items: center;
    }
    .banner h1{
        color:white;
        font-size:10em;
        font-style: bold;
        letter-spacing:0.3em;
        margin-bottom:15px;
        text-shadow: 30px, 70px, 10px, black;
    }
    .banner p{
        color:white;
        font-size: 3em;
        opacity:0.6;
        text-shadow:20px,70px,5px, black;
        letter-spacing: 0.4em;
    }
    .info>ul>li>div{    
        background-color:rgb(203,228,199);
        color:rgb(40,224,70);
    
        font-size:90px;
        border-radius: 64.3px 10.87px 75.49px 29.7px;
    
         width:2em;
         height:2em;
         text-align:center;
         line-height:2em;
         margin: 100px auto;
    
  
}
.info>ul>li>h3{
    font-size:50px;
    color:rgb(40,224,70);
    text-align: center;
}
.info>ul>li>p{
    font-size:2em;
    width: 80%;
    margin: 40px auto;
    color:rgb(66,94,72);
    line-height:35px;
    letter-spacing: 1px;
}
.sub_title{
    color: rgb(40,224,70);
    font-size:90px;
    margin:90px auto 0px auto;
    padding-top:90px;
    text-align: center;

    width: 100%;
}
.Portfolio{
    background-color: rgb(215,215,215);
}
.Portfolio>p{
    font-size:30px;
    margin:10px auto 100px auto;
    text-align: center;
    color:rgb(66,94,72);
    
}
    .Portfolio>div>.item {
        width: 31%;

    }

    .contact>.text{
        font-size:30px;
        margin:50px auto;
        text-align: center;
        color:rgb(66,94,72);
        line-height:35px;
        letter-spacing: 1px;}

    .footer{
        width:100%;
        font-size:25px;
        background-color:rgb(215,215,215);
        color:rgb(157,178,163);
        text-align: center;
        margin-top:10%;
    }
}