@charset "utf-8";
body{font-family: 'Do Hyeon', sans-serif;}
/*Header 관련*/
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo{
    font-family: 'Faster One', cursive;
    /* display: flex; */
    /* justify-content: space-between; */
    /*햄버거메뉴*/
    position: relative;  
    margin-top: 5px;
    padding: 10px; 
}
.logo>a{
    font-size:30px;
    color:rgb(157,178,163);
}
.logo>a>span {color:rgb(40,224,70);}

    /*햄버거 엑스 버튼*/

/* //햄버거메뉴 엑스// */
input{
    display:none;
}

label[for="m"]{
    display:block;
    width:50px;
    height:40px;
    position: relative;
  
}

label[for="m"] span{
    width:100%;
    height:8px;
    background-color:rgb(157,178,163);
    position: absolute;
    transition:1s;
        
}
label[for="m"] span:nth-child(1){
    top:0; 
}
label[for="m"] span:nth-child(2){
    top:50%;
}
label[for="m"] span:nth-child(3){
    top:100%;
}
input[id="m"]:checked + label[for="m"] span:nth-child(1){
    background-color: rgb(78, 81, 255);
    top:50%;
    transform: rotate(45deg);
}
input[id="m"]:checked + label[for="m"] span:nth-child(3){
    background-color: rgb(78, 81, 255);
    top:50%;
    transform: rotate(-45deg);
}
input[id="m"]:checked + label[for="m"] span:nth-child(2){
    background-color:transparent;
    }
input[id="m"]:checked ~ .menu{
    display: block;
}

.menu{
    display:none;
    letter-spacing: 10px;
    line-height: 50px;
    position: absolute;
    left:0;
    top:55px;
    text-align: center;
    background-color: white;
    width: 100%;

}
.menu a{    
    color:rgb(157,178,163);
    padding:15px;
    padding-bottom: 0;
    font-weight: bolder; 
    /*메뉴글씨에 밑줄효과*/
    position: relative;    
}
.header ul>li>a:hover{
    color:rgb(78, 81, 255);
}
.header ul>li>a::before{
    content: "";
    background-color: rgb(40,224,70);
    display: inline-block;

    height:4px;
    width:0px;

    position: absolute;

    bottom:-10px;
    transition: all 0.3s;

    left:50%;
    transform: translateX(-50%);
}
.header ul>li>a:hover::before{
    padding-top:0;
    margin-top:0;
    width:100%;
    
}

/*배너관련*/
.banner{
    background-image: linear-gradient(rgba(148, 209, 158, 0.342),rgba(87, 187, 127, 0.342)), url('../images/mainbanner.jpg');
    background-position:center;
    background-size: cover;

    height:150px;
    width: 100%;
    
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}

.sub_title{
    color: rgb(40,224,70);
    font-size:50px;
    margin:50px auto 0px auto;
    padding-top:30px;
    text-align: center;

    width: 100%;
}
/*about글귀*/
.text{
    margin-top:100px;
    font-size: 20px;
    width: 100%;
    text-align: center;
    line-height: 40px;
    color:rgb(66,94,72);
}
p{
    text-align: center;
    color:rgb(66,94,72);
}
/*info H,P,B 소개글*/

.info> .tab_btn{
    text-align:center;
}

.info>.tab_btn > label{
    display: inline-block;
    width:20px;
    height:10px;
    border-radius: 40px;
    background-color:rgb(141, 245, 167);

}

.info>input [name="tab"]{
    display:none;
}
/*라디오버튼이랑 바모양이랑 연결시키기*/
.info>input[id="tab1"]:checked ~ .tab_btn label[for="tab1"],
.info>input[id="tab2"]:checked ~ .tab_btn label[for="tab2"],
.info>input[id="tab3"]:checked ~ .tab_btn label[for="tab3"]
{
    background-color: rgb(78, 81, 255);
}




.info{
    /* width: 70%;
    margin: 50px auto; */

    width:300px;
    margin: 30px auto;
    overflow: hidden;
}
.info>ul{
     /* display: flex;  */
    /*flex-direction: column; */
    width: 900px;
    height: 400px;
    margin-top:20px;
    position: relative;
    left: 0;
    transition: 1s;
}
.info>ul>li{
    width: 300px;
    float: left;
}
.info>input[id="tab2"]:checked ~ ul{
    left: -300px;
}
.info>input[id="tab3"]:checked ~ ul{
    left: -600px;
}


.info>ul>li>div{    
        background-color:rgb(203,228,199);
        color:rgb(40,224,70);
    
        font-size:60px;
        border-radius: 64.3px 10.87px 75.49px 29.7px;
    
         width:2em;
         height:2em;
         text-align:center;
         line-height:2em;
         margin: 10px auto;
    
         /* margin-right: 230px;
         margin-left: 200px; */
}
.info>ul>li>h3{
    font-size:30px;
    color:rgb(40,224,70);
    text-align: center;
}
.info>ul>li>p{
    /* width: 80%; */
    margin: 30px auto;
    color:rgb(66,94,72);
    line-height:25px;
    letter-spacing: 1px;
}

.footer{
    width:100%;
    height: 10%;
    font-size:15px;
    background-color:rgb(215,215,215);
    color:rgb(157,178,163);
    /* text-align: center; */
}









/* 테블릿 사이즈*/

@media all and (min-width:768px) 
{
    .header {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    
    .logo{
        font-family: 'Faster One', cursive;
        display: flex;
        justify-content: space-between;
    }
    .logo>a{
        font-size:30px;
        color:rgb(157,178,163);
    }
    .logo>a>span {color:rgb(40,224,70);}

 /*태블릿 사이즈에선 버튼이 안보이게*/
 label[for="m"] {
    display:none;
}
 input{
        display:none;
    }
 
    .menu{
        margin-top: 0px;
        display: flex;
        justify-content:flex-end;
        letter-spacing: 10px;
        line-height: 50px;
    }
   
    .banner h1{
        color:white;
        font-size:6em;
        font-style: bold;
        letter-spacing:0.2em;
        margin-bottom:15px;
        text-shadow: 30px, 70px, 10px, black;
    }
    .banner p{
        color:white;
        font-size: 1.7em;
        opacity:0.6;
        text-shadow:20px,70px,5px, black;
        letter-spacing: 0.4em;
    
    }

    /* */
   .info{
    /* width: 70%;
    margin: 50px auto; */

    width:300px;
    margin: 50px auto;
    overflow: hidden;
}
    .info>ul{
        display: flex;
        flex-direction: row;
        justify-content:space-between;
    
    }
    /* .Portfolio{
        width:100%;
        background-color: rgb(215,215,215);
    }
    .Portfolio>p{
        margin:10px auto;
        text-align: center;
        color:rgb(66,94,72);
        
    }
    .Portfolio>div{
        /* width:700px;
        margin:30px auto;
        display: flex; */
        /* box-sizing: border-box;
        padding:10px;
        max-width:700px;
        margin : 0 auto;
        height: 470px;
        display: flex;
        flex-flow:column wrap;
        align-items:flex-start;
        width: 90%;
        display: flex;
       
        margin: 0px auto;
        align-items: flex-start;
        
    }
    .Portfolio>div>.item{
        width:30%;
        /* margin:1%; 
        padding-bottom:10px;
    } */





/* PC용 사이즈*/
@media all and (min-width:1024px) 
{
     /*PC 사이즈에서 버튼이 안보이게*/
 label[for="m"] {
    display:none;
    }

    .header{
        width: 1024px;
        margin: 0 auto;
        display:flex;
        justify-content: space-between;
        font-size:30px;
     
    }
  
    .logo>a{
        font-size:55px;
        color:rgb(157,178,163);
    
      
    }

    .menu{
        margin-top: 25px;
        width: 100%;
        line-height: 50px;
  
    }
    .banner{
        height: 300px;
    }


/* info H,P, B 소개글*/
    
    .info>ul{
        width: 900px;
        margin-top: 100px;
    }
    .info>ul>li{
        text-align: center;
        width:900px;
    }
    
    .info> .tab_btn{
    display: none;
    }
    
    .info>.tab_btn > label{
        display: none;
       
    }
    
    .info>input [name="tab"]{
        display:none;
    }
          
    .info{
        width:75%;
        height:70vh;
        margin: 30px auto;
        /* overflow: hidden; */
    }
    
    
.info>ul>li>div{    
            display: block;
    }
.info>ul>li>h3{
        font-size:30px;
        color:rgb(40,224,70);
        text-align: center;
    }
.info>ul>li>p{
        /* width: 80%; */
        margin: 30px auto;
        color:rgb(66,94,72);
        line-height:25px;
        letter-spacing: 1px;
    }

.info>ul>li {
    width: 100%;
    margin: 50px auto;
    
}


.info>ul>li>h3{
    font-size:50px;
    color:rgb(40,224,70);
    text-align: center;
}
.info>ul>li>p{
    font-size:2em;
    width: 390px;
    margin: 40px 50px;
    color:rgb(66,94,72);
    line-height:35px;
    /* letter-spacing: 1px; */
}
.sub_title{
    color: rgb(40,224,70);
    font-size:90px;
    margin:90px auto 0px auto;
    padding-top:90px;
    text-align: center;

    width: 100%;
}

    
    .footer{
        width:100%;
        height:10vh;
        font-size:25px;
        background-color:rgb(215,215,215);
        color:rgb(157,178,163);
        text-align: center;
        margin-top:10%;
    }
}